{
  "env": {
    "browser": true,
     "node": true
  },
  "extends": "eslint-config-airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 4],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
